<h1>Simple Angular Test</h1>
<form>
  <div class="inner-wrapper">
    <div class="line">
      <label>Title</label>
      <select #titles name="selectedTitle" (change)="onSelected(titles.selectedOptions[0].text)">
        <option value="">-- Select an option --</option>
        <option value="" *ngFor="let title of filteredTitles" [selected]="title.isDefault == true">{{title.name}}</option>
      </select>
    </div>
    <div class="line">
      <label>First Name</label>
      <input type="text" placeholder="First name" [(ngModel)]="firstName" name="firstName" />
    </div>
    <div class="line" [class.error]="lastNameControl.invalid && lastNameControl.touched">
      <label>Last Name</label>
      <input type="text" placeholder="Last name" [(ngModel)]="lastName" name="lastName" #lastNameControl="ngModel" required />
      <span *ngIf="lastNameControl.invalid && lastNameControl.touched" >*Last name is required</span>
    </div>
    <div class="line">
        <label>Email</label>
        <input type="email" placeholder="Email" />
    </div>
    <span></span>
    <div>
      <input type="checkbox" [(ngModel)]="termsConds" name="termsConds" #checkboxControl="ngModel" required />
      <label>I accept the terms & conditions</label>
    </div>
    <div>
      <input type="submit" name="submit" id="submit" (click)="submitFormValues()" [disabled]="checkboxControl.invalid" />
      <!-- <button (click)="submitFormValues()">Submit</button> -->
    </div>
  </div>
</form>
